<div class="wrapper">
    <div class="form" action="">
        <div class="input">
            <label for="username">{{label.username}}</label>
            <input type="text" name="username" [(ngModel)]="username">
        </div>
        <div class="input">
            <label for="username">{{label.password}}</label>
            <input type="password" name="username" [(ngModel)]="password">
        </div>
        <div class="action">
            <button>{{btn.submit}}</button>
        </div>
    </div>
</div>
`