<div class="wrapper {{444+9}}">

    <form [formGroup]="rForm" (submit)="print()">
        <div class="controls">
            <epr-input *ngFor="let i of inputs" [formControlName]="i.formControlName" [config]="i"></epr-input>

        </div>


        <div class="action">
            <button [disabled]="!rForm.valid">{{btn.ok | titlecase}}</button>
            <button (click)="$event.preventDefault();cancel()">{{btn.cancel | titlecase}}</button>
        </div>
    </form>
    <div>
        {{rForm.value|json}}
    </div>
</div>